body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(253, 186, 0);
}
section{
    display: flex;
    padding-left: 50px;
  
}
#first-banner{
    background-image: url(pic/Gradient\ Background\ -\ Rajib\ Studio173\ -\ Copy.jpg);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-right: 4ch;
}
.half-width img{
    width: 80%;
}
#lorem{
    color: rgb(124, 89, 89);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 2% 6%;
    border-radius: 50px;
    color: rgb(255, 225, 225);
    font-weight: 700;
}
#developer{
    color: rgb(228, 110, 13);
}
#learned{
    color: rgb(77, 90, 88);
}


