body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
section{
    height: 500px;
    padding-bottom: 150px;}
h1{
    font-size: 50px;
}
.orange{
    color: rgb(253, 186, 0);
}
.flaxible-container{
    display: flex;
    padding-left: 50px;
  
}
.first-banner{
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-right: 4ch;
}
.half-width img{
    width: 80%;
}
#lorem{
    color: rgb(124, 89, 89);
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 2% 6%;
    border-radius: 50px;
    color: rgb(255, 225, 225);
    font-weight: 700;
}
#developer{
    color: rgb(228, 110, 13);
}
#learned{
    color: rgb(77, 90, 88);
}
.half-width-2{
    width: 50%;
    padding-right: 5%;
}
.second-banner{
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width-3{
    width: 50%;
    padding-left: 2%; 
    padding-bottom: 2%;
    box-shadow: 10px 10px 10px 10px rgb(128, 128, 128);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    
}
#third-section{
    background-image: url(Pic/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border1{
    border-left: 7px solid #f17949;
}
#border2{
    border-left: 7px solid #364968;
}

